.column {
	width: 200px;
	display: table-cell;
}
.fruitImage {
	display: inline;
}

.button {
       width: 60px;
       padding: 5px 10px 5px 10px;
       background-color: #AAAAAA;
       border-radius: 15px;
       font: 12px Verdana, Sans-Serif;
       text-align: center;
       cursor: pointer;
}